trix-editor {
    min-height: 400px;
}

.icon-user {
    width: 26px;
}

.icon-nav {
    width: 30px;
}

.icon-product {
    width: 36px;
}

.item-price {
    font-size: 20px;
}

.nav-color {
    background-color: #ffed4a;
}

.money {
    display: flex;
}

.symbol {
    font-weight: 700;
    color: #39b982;
    font-size: 35px;
}

.price-value {
    color: #0a2b4e;
    font-weight: 700;
    font-size: 35px;
}

.stock {
    color: #39b982;
    font-size: 18px;
}

.stock-value {
    color: #0a2b4e;
    font-weight: 700;
    font-size: 18px;
}


.user-title {
    color: #333;
    text-transform: uppercase;
    font-size: 1.8rem;
    border-bottom: 3px solid #3490dc !important;
    display: inline-block;
    padding-bottom: .5rem;
    padding-right: 2rem;
}

.user-title-main {
    color: #333;
    text-transform: uppercase;
    font-size: 1.8rem;
    border-bottom: 3px solid #3490dc !important;
    padding-bottom: .5rem;
    padding-right: 2rem;
    justify-content: center;
}

.owl-carousel .owl-stage { display: flex; }
.card {
    display: flex;
    flex: 1 0 auto;
    height: 100%;
}

.hero-products {
    background-image: linear-gradient(to bottom, rgba(70, 70, 70, 0.4), rgba(53, 53, 53, 0.571)),
    url('../images/bg-newsletter.jpg');
    height:20rem;
    background-size: cover;
    background-position: top center;
    .search-text {
        p {
            font-size: 1.4rem;
            color: #FFF;
        }
    }
} 